<div class="media">
  <h4><%= comment.body %></h4>
</div>
<div class="pull-left">
  <p><%= comment.user.user_name unless comment.user.blank? %></p>
</div>
<div class="media-body">
  <p class="media-heading pull-right">
    <%= time_ago_in_words(comment.created_at) if comment.created_at %>
  </p>
  <%= comment.body %>
</div>

<%# @article.comments.present? %>
  <%= link_to "Edit", edit_article_comment_path(comment.article, comment) %>
  <%= link_to "Delete", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
<%# end %>