<h4 style="text-transform: uppercase;">Recent Posts</h4>
<% @articles.each do |a| %>
  <em>Created by: <%= a.user.user_name %></em><br>
  <strong><%= link_to a.title, a %><br></strong>
  <%= truncate(a.body, :length => 80) %><br>
  <hr>
<% end %>