<div class="row">
  <div class="col-lg-8">
    <img src="http://placehold.it/750x492"></img>
    <h1 style="font-size: 62.5px;"><%= @article.title %> </h1>
    <p class="lead">Author: <%= @article.user.user_name %></p>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Was Posted: <%= time_ago_in_words(@article.created_at) %> ago</p>
    <hr>
    <%= @article.body %><br>
    <%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
    <hr>
    <%= render 'comments/form' %><br>
    <%= render @article.comments if @article.comments.present? %><br>
  </div>
    <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">
    <div class="well">
        <%= render 'articles/recent_articles' %>
    </div>
  </div>
</div>
