<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= simple_form_for @contact do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :message %>
        <%= f.submit "Get in touch!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>