<div class="row">
    <div class="col-lg-12 text-center">
      <h1>About Page</h1>
      <p class="lead">Test text</p>
      <ul class="list-unstyled">
          <li>List intem 1</li>
          <li>List intem 2</li>
      </ul>
    </div>
</div>