<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>
    <p> There is a new message from the your-site.com's contact form BlogOne. The message was sent from <%= "#{ @name }, #{ @email }."%></p>
    <p><%= "#{ @message }."%></p>
  </body>
</html>