<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <ul class="list-inline">
                    <li>
                      <%= link_to "Home", root_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "About", pages_about_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Contact", pages_contact_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <% if current_user %>
                      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                      <li><%= link_to "Sign In", new_user_session_path %></li>
                    <% end %>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
            </div>
            <div class="col-lg-1">
              <div class="footer-icons">
                <a href="http://www.bitbucket.com/megaloopy" target="_blank"><i class="fa fa-bitbucket"></i></a>
                <a href="https://www.linkedin.com/in/pedrom/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/Megaloopy" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
        </div>
    </div>
</footer>